*{
    box-sizing: border-box;
}

body{
    background: url("images/bg-intro-desktop.png");
    font-size: 16px;
    font-family: poppins;
    background-color: hsl(0, 100%, 74%) ;
}

.banner{
    background-color:hsl(248, 32%, 49%) ;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    width:430px;
    height: 20px;
    margin-left:700px;
    
    display: block;
    border-radius: 5px;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
}
.text{
    color: white;
    margin-left: 160px;
    margin-right: 50px;
    text-align: left;
}
 .text-h{   
    font-weight: 700px;
    text-align: left;
}
.text-p{
    font-weight: 400px;
}
.form{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 35%;
    height: 330px;
    margin-top: 10px;
    margin-right: 100px;
    display: block;
    
}

input{
    padding: 10px ;
    width: 350px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
}

button{
   background-color:  hsl(154, 59%, 51%);
   color: white;
   border-color: transparent;
  padding-top: 10px;
   padding-bottom: 20px;
   width: 350px;
   border-radius: 10px;
   margin-left: 20px;
   height: 30px;
margin-top: 10px;

}
.form-p{
font-size: 10px;
justify-content: center;
padding-left: 70px;
padding-bottom: 10px;
margin-top:20px;
}
.first{
   color: hsl(246, 25%, 77%);
}
.last{
    color:hsl(0, 100%, 74%) ;
}

/**

@media (min-width: 375px){

    main{
        display: block;

    }
    .form{
        width: 350px;
        height: 350px;
        margin-left: 50px;
        margin-top: 100px;
    }
    input{
        padding: 10px ;
        width: 250px;
        margin: 20px;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 5px;
        align-items: center;
    }
    button{
        width: 270px;
    }
    .text{
        text-align: center;
        margin-left: 20px;
        margin-top: 50px;
       
    }
    .text-h{
        text-align: center;
    }
    .text-p{
        text-align:center ;
        margin-bottom: 30px;
    }
.banner{
    margin-top: 0px;
    margin-left: 10px;
    height: 20px;
    width: 330px;
   margin-top: 150px;
   padding-top: -10px;
   padding-bottom: 5x;
    top: 20%;
    left: 12%;
    position: absolute;
}
.form-p{
    text-align: center;
    margin-right: 65px;
}
}
**/